<!DOCTYPE html>
<html ng-app="AngularMaterial">

<head>
    <title>Angular Material Template Demo</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/bower/angular-material/angular-material.css">
</head>

<body>

    <div ng-controller="PanelGroupsCtrl as ctrl" ng-cloak>

        <md-toolbar class="md-accent">
            <div class="md-toolbar-tools">
                <md-button class="md-fab md-accent" aria-label="Code" ng-click="ctrl.showContentMenu($event, ctrl.code)">
                    <md-icon md-svg-icon="/images/icons/ic_code_24px.svg"></md-icon>
                </md-button>
                <h2>Toolbar with grouped panels (Maximum open: 2)</h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Favorite" ng-click="ctrl.showToolbarMenu($event, ctrl.favorite)">
                    <md-icon md-svg-icon="/images/icons/favorite.svg"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="More" ng-click="ctrl.showToolbarMenu($event, ctrl.more)">
                    <md-icon md-svg-icon="/images/icons/more_vert.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content layout-padding>
            <p>
                Panels can be added to a group. Groups are used to configure specific behaviors on multiple panels. To add a panel to a group, use the
                <code>$mdPanel.newPanelGroup</code> method, or simply add a group name to the configuration object passed into the <code>$mdPanel.create</code> method.
            </p>
            <p>
                Grouping allows for methods to be applied to several panels at once, i.e. closing all panels within the toolbar group, or destroying all panels within a dialog group. With the <code>maxOpen</code> property, you can also limit the number of panels allowed open within a specific group. This can be useful in limiting the number of menu panels allowed open at a time, etc.
            </p>

            <div layout="row">
                <div layout="column" flex>
                    <h2>Multiple Groups</h2>
                    <p>
                        Panels can be added to multiple groups. The <code>groupName</code> parameter in the panel configuration can be a string or an array of strings. This allows for the functionality or constraints of multiple groups to apply to each created panel.
                    </p>
                    <p>
                        To give an example, the menus within the toolbar above have been added to the <strong>toolbar</strong> and <strong>menus</strong> groups. The menus to the right have been added to the <strong>menus</strong> group as well. The maximum number of open panels within the
                        <strong>toolbar</strong> group is <strong>2</strong>. Within the
                        <strong>menus</strong> group it is <strong>3</strong>. Opening the menus to the right and more than one in the toolbar will result in the first opened panel to the right to close.
                    </p>
                </div>
                <div style="width: 45px;"></div>
                <div layout="row" flex="nogrow">
                    <md-button class="md-fab md-primary" aria-label="Tools" ng-click="ctrl.showContentMenu($event, ctrl.tools)">
                        <md-icon md-svg-icon="/images/icons/ic_build_24px.svg"></md-icon>
                    </md-button>
                    <md-button class="md-fab md-accent" aria-label="Code" ng-click="ctrl.showContentMenu($event, ctrl.code)">
                        <md-icon md-svg-icon="/images/icons/ic_code_24px.svg"></md-icon>
                    </md-button>
                </div>
            </div>
        </md-content>

    </div>

    <div class="md-menu-demo" ng-controller="BasicDemoCtrl as ctrl" ng-cloak>

        <div class="menu-demo-container" layout-align="center center" layout="column">
            <h2 class="md-title">Simple dropdown menu</h2>
            <p>Applying the <code>md-menu-origin</code> and <code>md-menu-align-target</code> attributes ensure that the menu elements align. Note: If you select the Redial menu option, then a modal dialog will zoom out of the phone icon button.</p>
            <md-menu>
                <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="ctrl.openMenu($mdMenu, $event)">
                    <md-icon md-menu-origin md-svg-icon="call:phone"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="ctrl.redial($event)">
                            <md-icon md-svg-icon="call:dialpad" md-menu-align-target></md-icon>
                            Redial
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
                            <md-icon md-svg-icon="call:voicemail"></md-icon>
                            Check voicemail
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                    <md-menu-item>
                        <md-button ng-click="ctrl.toggleNotifications()">
                            <md-icon md-svg-icon="social:notifications-{{ctrl.notificationsEnabled ? 'off' : 'on'}}"></md-icon>
                            {{ctrl.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </div>

    <script src="/bower/angular/angular.js"></script>
    <script src="/bower/angular-aria/angular-aria.js"></script>
    <script src="/bower/angular-animate/angular-animate.js"></script>
    <script src="/bower/angular-material/angular-material.js"></script>
    <script src="/angular-controllers/index.js"></script>
    <script src="/angular-controllers/template/menu.js"></script>
    <script src="/angular-controllers/template/panel.js"></script>
</body>

</html>