<!DOCTYPE html>
<html ng-app="AngularMaterial">

<head>
    <title>Angular Material Template Demo</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/bower/angular-material/angular-material.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="white">

    <div ng-controller="AppCtrl as ctrl" ng-cloak>

        <md-content class="md-padding" layout-padding>
            <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item md-nav-click="goto('page1')" name="page1">
                    Estatísticas globais
                </md-nav-item>
                <md-nav-item md-nav-click="goto('page2')" name="page2">
                    Painel de captura
                </md-nav-item>
                <md-nav-item md-nav-click="goto('page3')" name="page3">
                    SLA de Captura
                </md-nav-item>
                <md-nav-item md-nav-click="goto('page4')" name="page4">
                    SLA de Cadastro
                </md-nav-item>
            </md-nav-bar>
            <div class="ext-content">
                <div ng-show="currentNavItem == 'page1'" class="list-robos">

                    <div layout="row">
                        <div flex="50">
                            <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels">                  
                                </canvas>
                        </div>

                        <div flex="50">
                            <md-toolbar layout="row">
                                <div class="md-toolbar-tools">
                                    <span>Execuções dos robôs</span>
                                </div>
                            </md-toolbar>

                            <md-list flex class="lista-robos-conteudo">
                                <md-subheader class="md-no-sticky">Última ação de cadastros novos dos sistemas por estado</md-subheader>
                                <md-list-item class="md-3-line" ng-repeat="item in todos" ng-click="null">
                                    <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
                                    <div class="md-list-item-text" layout="column">
                                        <h3>{{ item.who }}</h3>
                                        <h4>{{ item.what }}</h4>
                                        <p>{{ item.notes }}</p>
                                    </div>
                                </md-list-item>
                            </md-list>
                        </div>
                    </div>
                </div>
            </div>
        </md-content>

        <div class="bottom-right lock-size" layout="row">
            <md-fab-speed-dial md-open="ctrl.isOpen" md-direction="{{ctrl.selectedDirection}}" ng-class="ctrl.selectedMode">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-primary">
                        <md-icon md-svg-src="/images/icons/menu.svg"></md-icon>
                    </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                    <md-button aria-label="Twitter" class="md-fab md-raised md-mini">
                        <md-icon md-svg-src="/images/icons/twitter.svg" aria-label="Twitter"></md-icon>
                    </md-button>
                    <md-button aria-label="Facebook" class="md-fab md-raised md-mini">
                        <md-icon md-svg-src="/images/icons/facebook.svg" aria-label="Facebook"></md-icon>
                    </md-button>
                    <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini">
                        <md-icon md-svg-src="/images/icons/hangout.svg" aria-label="Google Hangout"></md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>

    </div>

    <script src="/bower/angular/angular.js"></script>
    <script src="/bower/angular-aria/angular-aria.js"></script>
    <script src="/bower/angular-animate/angular-animate.js"></script>
    <script src="/bower/angular-material/angular-material.js"></script>
    <script src="/bower/chart.js/dist/Chart.min.js"></script>
    <script src="/bower/angular-chart.js/dist/angular-chart.min.js"></script>
    <script src="/angular-controllers/index.js"></script>
    <script src="/angular-controllers/template/menu.js"></script>
    <script src="/angular-controllers/template/panel.js"></script>
</body>

</html>